<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8385ad">  <td>22/06/17 17:47:35</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertTestNG.testForConnect()[pri:0, instance:com.MavenProject.SpringBoot.InsertTestNG@2cd2a21f]">testForConnect</td> 
  <td>main@1361960727</td>   <td></td> </tr>
<tr bgcolor="8385ad">  <td>22/06/17 17:47:36</td>   <td>355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertTestNG.testForInsertion()[pri:0, instance:com.MavenProject.SpringBoot.InsertTestNG@2cd2a21f]">testForInsertion</td> 
  <td>main@1361960727</td>   <td></td> </tr>
<tr bgcolor="8385ad">  <td>22/06/17 17:47:36</td>   <td>385</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="InsertTestNG.testfordatafetch()[pri:0, instance:com.MavenProject.SpringBoot.InsertTestNG@2cd2a21f]">testfordatafetch</td> 
  <td>main@1361960727</td>   <td></td> </tr>
</table>
